* {
  margin: 0;
  padding: 0;
}
/* ==============
Common css start
============== */
.container {
  width: 1270px;
  margin: 0 auto;
  
}
.box {
  display: flex;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
.banner .left a{
  background: #000;
  padding: 25px 91px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  
  display: inline-block;
  border: 1px solid transparent;
  transition: .4s;
  
}
.banner .left a:hover{
  background: transparent;
  border-color: black;
  color: black;
}

/* ==============
Common css end
============== */
/* ==============
Navber css strat
============== */
nav {
  background: #fae3b6;
  padding: 50px 0px;
}
nav .box {
  align-items: center;
}

nav .logo-part {
  width: 20%;
}
nav .menu-part {
  width: 60%;
}
nav .menu-part ul {
  display: flex;
  column-gap: 59px;
  justify-content: center;
}
nav .menu-part ul li a {
  color: #000;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

nav .button-part {
  width: 20%;
  text-align: right;
}
nav .button-part a {
  background: #fdbb57;
  padding: 10px 15px;
  color: #050505;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  transition: 0.4s;
  border: 1px solid transparent;
}

nav .button-part a:hover {
  background: #fae3b6;
  border-color: rgb(137, 127, 127);
}
/* ==============
Navber css end
============== */
/* ==============
Banner css start
============== */
.banner{
background: #FAE3B6;
padding-top: 124px;
padding-bottom: 100px;

}

.banner .left{
  width: 50%;
  
}
.banner .right{
  width: 50%;
  
}
.banner .left h1{
  font-size: 64px;
  font-weight: 600;
  color: black;
  font-family: "Poppins", sans-serif;
  width: 540px;
  
  
}
.banner .left p{
  font-size: 22px;
  font-weight: 400;
  color: black;
  font-family: "Poppins", sans-serif;
  width: 531px;
  padding-top: 38px;
  padding-bottom: 76px;
  
}


/* ==============
Banner css end
============== */
/* ==============
collection css start
============== */
.collection {
  padding-top: 200px;
  padding-bottom: 100px;
}

.collection h2{
  font-size: 64px;
  font-weight: 700;
  color: black;
   font-family: "Frank Ruhl Libre", serif;
   text-align: center;
}
.collection .box{
  justify-content: space-between;
  
}

.collection .card{
  width: 349px;
  height: 402px;
  position: relative;
  overflow: hidden;
  margin-top: 60px;

  
}
.collection .card .overly{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  transition: .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  
}
.collection .card .overly a{
  background:white;
  padding: 10px 100px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 600;
  color: black;
   font-family: "Frank Ruhl Libre", serif;
  
   
}

.collection .card:hover .overly{
  top: 0%;

}



/* ==============
collection css end
============== */
/* ==============
Fashion css start
============== */
.fashion{
  margin-bottom: 300px;
 
}

 .fashion .left{
  width: 50%;

 }
 .fashion .left img{
  width: 100%;
 }
 .fashion .right{
  width: 50%;
  margin-left: 20px;
 
 }
 .fashion .box{
  align-items: center;
  position: relative;
 }
 .fashion .right h2{
  font-size: 64px;
  font-weight: 700;
  font-family: "Frank Ruhl Libre", serif;
  color: #000;
  width: 437px;
  
 }
 .fashion .right p{
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
  width: 443px;
  padding-top: 63px;
 }

 .info-box{
  width: 793px; 
  padding: 66px 0px;
  background: #FEECC8;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  bottom: -190px;
  right: 0;
  z-index: -1;
  
 }
 .info-box h4{
  font-size: 54px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #000;
 }
 .info-box p{
  font-size: 28px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #000;
 }

 .info-box .mini-box{
  border-right: 1px solid black;
  padding-right: 27px;
 }
 .info-box .mini-box:last-child{
  border-right: 0px;

 }

/* ==============
Fashion css end
============== */
/* ==============
bestprodect css start
============== */

.product{
  background: #CFA485;
  padding-top: 36px;
  padding-bottom: 190px;

}
.product .one{
  width: 38%;
 
}
.product .two{
  width: 31%;
  
}

.product h2{
  font-size: 64px;
  font-weight: 700;
  font-family: "Frank Ruhl Libre", serif;
  color: #fff;
  width: 437px;

}
.product .paraone{
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #fff;
  width: 460px;
  padding-top: 63px;
  padding-bottom: 40px;

}
.product a{
  background: #000;
  padding: 25px 91px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  border-radius: 10px;
  
  display: inline-block;
  border: 1px solid transparent;
  transition: .4s;
  
}
.product a:hover{
  background: transparent;
  border-color: black;
  color: black;
}
.product .cart{
  width: 366px;
  height: 550px;
  background: white;
  border-top-right-radius: 60px;
  border-top-left-radius: 60px;
  
}
.product .cart .cart-body{
  padding-top: 14px;
  padding-left: 10px;
}
.product .cart .cart-body h5{
  color: #000;
  font-size: 22px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
  
}
.product .cart .cart-body p{
  color: #C4C4C4;
  font-size: 22px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  padding-bottom: 10px;
  padding-top: 4px;
  
}
.product .cart .cart-body p span{
  color: #000;
  padding-left: 30px;

}


.product .cart .cart-body ul{
  display: flex;
  column-gap: 8px;

}
.product .cart .cart-body ul li i{
  color: #FFAF37;

}
/* ==============
bestprodect css end
============== */
